<section id="<%=msg.key%>"class="message">
  <header>
    <a href="/author/<%= encodeURIComponent(msg.value.author) %>">
      <img class="avatar" src="<%= msg.value.meta.author.avatar.url %>">
    </a>

    <span class="text">
      <span class="author">
        <a href="/author/<%= encodeURIComponent(msg.value.author) %>"><%= msg.value.meta.author.name %></a>
      </span>

      <span class="timestamp">
        (<%= msg.value.meta.timestamp.received.since %>)
      </span>

      <% if (msg.value.meta.private === true) { %>
      <abbr title="Private">
        🔒
      </abbr>
      <% } %>

    </span>
  </header>

  <section class="content">
    <%- msg.value.meta.md.block() %>
  </section>

  <footer>
    <% if (msg.value.meta.voted === false) { %>
      <form action="/like/<%= encodeURIComponent(msg.key) %>" method="post">
        <button name="voteValue" name="button" type="submit" value="1">
          ❤&nbsp;<%= msg.value.meta.votes.length %>
        </button>
      </form>
      <% } else { %>
      <form action="/like/<%= encodeURIComponent(msg.key) %>" method="post">
        <button name="voteValue" class="liked" name="button" type="submit" value="0">
          ❤&nbsp;<%= msg.value.meta.votes.length %>
        </button>
      </form>
      <% } %>
    <a href="/thread/<%= encodeURIComponent(msg.key) %>#<%= encodeURIComponent(msg.key) %>">context</a>

    <a href="/raw/<%= encodeURIComponent(msg.key) %>">raw</a>
  </footer>

</section>
