[Unit]
Description=Oasis - Friendly Scuttlebutt Web Interface
Documentation=https://github.com/fraction/oasis
After=network.target

[Service]
Type=simple
ExecStart=%s -l -c 'oasis --host localhost --port 4515 --no-open'
Restart=on-failure

[Install]
WantedBy=multi-user.target
