:root {
  --thin-stroke: 1px;
  --medium-stroke: 3px;
  --heavy-stroke: 6px;
  --common-radius: var(--thin-stroke);
  --blue: hsl(240, 75%, 50%);
  --highlight-shadow: hsl(240, 66%, 92%);
  --highlight: hsl(240, 88%, 88%);
  --almost-white: hsl(240, 12.5%, 98.4%);
  --off-white: hsl(240, 12%, 92%);
  --discreet: hsl(240, 12%, 96%);
  --primary: hsl(240, 17%, 17%);
  --red: hsl(330, 75%, 50%);
  --secondary: hsl(240, 8%, 38%);
  --background: var(--almost-white);
  --heavy: black;
}
